@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;0,700;1,100;1,200;1,400;1,700&display=swap");

:root {
    --dark-blue: #363f5f;
    --header-gradient: linear-gradient(45deg, #01a03e, #00bd8e);
    --total-card: #01a03e;
    --body-background: #ececec;
    --newtransaction-button: #32b403;
    --newtransaction-button-hover: #318113;
    --greyish-blue-datatable: #7c8e96;
    --expense-transaction: #df2121;
    --income-transaction: #009242;
    --modal-container: #F0F2F5;
}

html {
    font-size: 93.75%; /* = 15px */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: var(--body-background);
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

.container {
    width: min(90vw, 800px);
    margin: auto;
}

/* --- TITLES --- */

h2 {
    margin-top: 3.2rem;
    margin-bottom: 0.8rem;
    color: var(--dark-blue);
    font-weight: normal;
}

/* --- LINKS AND BUTTONS --- */

main #transaction a {
    color: var(--newtransaction-button);
    text-decoration: none;
}

main #transaction a:hover {
    color: var(--newtransaction-button-hover);
    text-decoration: underline;
}

main #transaction .button.new {
    display: inline-block;
    margin-bottom: .8rem;
}

/* --- HEADER --- */

header {
    background: var(--header-gradient);
    padding: 2rem 0 10rem;
    text-align: center;
}

header h1#logo {
    color: white;
    font-weight: 100;
}

/* --- BALANCE --- */

main #balance {
    margin-top: -8rem;
}

main #balance h2 {
    color: white;
    margin-top: 0;
}

/* --- CARDS --- */

main #balance .card {
    background: white;
    padding: 1.5rem 2rem;
    border-radius: 0.25rem;

    margin-bottom: 2rem;
    color: var(--dark-blue);
}

main #balance .card h3 {
    font-weight: normal;
    font-size: 1rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

main #balance .card p {
    font-size: 2rem;
    line-height: 3rem;
    margin-top: 1rem;
}

main #balance .card.total {
    background-color: var(--total-card);
    color: white;
}

/* --- TABLE --- */

main #transaction {
    display: block;
    border-spacing: 0 0.5rem;
    overflow-x: auto;
}

main #transaction #data-table {
    width: 100%;
    border-spacing: 0 0.5rem;
    color: var(--greyish-blue-datatable);
}

main #transaction thead tr th:first-child,
main #transaction tbody tr td:first-child {
    border-radius: 0.25rem 0 0 0.25rem;
}

main #transaction thead tr th:last-child,
main #transaction tbody tr td:last-child {
    border-radius: 0 0.25 0.25 0rem;
}

main #transaction table th {
    background: white;
    font-weight: normal;

    padding: 1rem 2rem;
    text-align: left;
}

main #transaction table tr:hover {
    opacity: 1;
}

main #transaction table td {
    background: white;

    padding: 1rem 2rem;
}

main #transaction table td.description {
    color: var(--dark-green);
}

main #transaction table td.income {
    color: var(--income-transaction);
}

main #transaction table td.expense {
    color: var(--expense-transaction);
}

main #transaction table td .remove-icon {
    width: 1.5rem;
}

main #transaction table td .remove-icon:hover {
    cursor: pointer;
}

/* --- MODAL --- */

.modal-overlay {
    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.5);

    position: fixed;
    top: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    opacity: 0;
    visibility: hidden;
}

.modal-overlay.active {
    opacity: 1;
    visibility: visible;
}

.modal {
    background: var(--modal-container);
    padding: 2.4rem;

}

/* --- FOOTER ---- */

footer {
    text-align: center;
    padding: 4rem 0 2rem;
    color: var(--dark-blue);
    opacity: 0.6;
}

/* --- RESPONSIVE --- */
@media (min-width: 700px) {
    html {
        font-size: 87.5%;
    }

    main #balance {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
    }
}
